@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
  }
  .bibi{
    color: rgb(54, 63, 187);
    text-decoration: underline;
  }
tr, td,th{
    border: 1px solid rgb(13, 11, 11);
    padding: 5px;
    font-size: 18px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
#show{
    
    text-align: -webkit-center !important;
}
.no-items{
    background-color: rgb(246, 242, 242);
}
body{
    background-color: rgba(187, 183, 183, 0.257);
}
#allButtons{
    display: none;
}
.allButton{
    
    color: black !important;
}
.inputAnItem{
    background-color: rgb(211, 18, 18);
    color: white;
}