@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
  }
  .bibi{
    color: blue;
    text-decoration: underline;
  }
tr, td,th{
    border: .5px solid rgb(74, 73, 73);
    padding: 5px;
    font-size: 18px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
#show{
    
    text-align: -webkit-center !important;
}
.no-items{
    background-color: rgb(246, 242, 242);
}
body{
    background-color: rgb(253, 250, 250);
}
#allButtons{
    display: none;
}